openapi: 3.0.3
info:
  title: ZZAPI MES
  description: SAP ICF REST handlers for MES integration on SAP_BASIS 700
  version: 0.1.0
  license:
    name: UNLICENSED
  x-cors: |
    The hub supports CORS (hono/cors middleware). Configure via HUB_CORS_ORIGIN env var:
    - Unset (default): CORS disabled — no Access-Control headers sent
    - Comma-separated list: restrict to specific origins (e.g. "https://app.example.com,https://admin.example.com")
    - "*" is REJECTED at startup (exit 1) — wildcard origins with credentials is a CSRF vector and browsers reject it anyway
    - Empty string: same as unset — CORS disabled
    Preflight (OPTIONS) returns 204 with Access-Control-Allow-Methods: GET, POST.
    Exposed headers: X-Request-ID, Retry-After.

servers:
  - url: http://sapdev.fastcell.hk:8000
    description: sapdev (Phase 1, direct SAP access)
  - url: http://localhost:8080
    description: zzapi-mes hub (Phase 3)

security: []

paths:
  /sap/bc/zzapi/mes/ping:
    get:
      operationId: ping
      summary: Health check
      description: Lightweight probe — no database access, safe for monitoring.
      parameters:
        - $ref: "#/components/parameters/SapClient"
      responses:
        "200":
          description: System reachable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PingResponse"
        "405":
          description: HTTP method not allowed (only GET)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /sap/bc/zzapi/mes/handler:
    get:
      operationId: getPo
      summary: Purchase order info
      description: Returns PO header + delivery date for a given ebeln. JSON matches legacy BSP output byte-for-byte.
      parameters:
        - $ref: "#/components/parameters/SapClient"
        - name: ebeln
          in: query
          required: true
          schema:
            type: string
            maxLength: 10
          description: Purchasing document number
      responses:
        "200":
          description: PO found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PoResponse"
        "404":
          description: PO not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "405":
          description: HTTP method not allowed (only GET)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  # -----------------------------------------------------------------------
  # Hub-specific endpoints (Phase 3)
  # These only exist on the hub server, not on SAP directly.
  # -----------------------------------------------------------------------

  /auth/token:
    post:
      operationId: createToken
      summary: Obtain a JWT bearer token
      description: Exchange an API key (format `<key_id>.<secret>`) for a short-lived JWT. The JWT carries `key_id`, `scopes`, `iat`, `exp`, and `rate_limit_per_min` claims.
      security: []  # No auth required for token issuance
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [api_key]
              properties:
                api_key:
                  type: string
                  description: "API key in format: <key_id>.<secret>"
      responses:
        "200":
          description: Token issued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenResponse"
        "400":
          description: Invalid request body
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: |
            Invalid, unknown, or revoked API key.
            The hub emits a structured `auth_failure` JSON log line (type, ip, key_id_prefix, req_id, t)
            for forensic analysis. Only the key_id prefix (before the dot) is logged — never the secret component.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "413":
          description: Request body too large (max 1 MB)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Auth rate limit exceeded
          headers:
            retry-after:
              schema:
                type: integer
              description: Seconds until next request is allowed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "405":
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /healthz:
    get:
      operationId: healthz
      summary: Hub health check
      description: Lightweight probe — checks database connectivity. Add `?check=sap` to also verify SAP reachability (cached for 30s).
      security: []
      parameters:
        - name: check
          in: query
          required: false
          schema:
            type: string
            enum: [sap]
          description: Optional SAP reachability check (pings SAP ICF handler, 5s timeout, result cached 30s)
      responses:
        "200":
          description: Hub is running (and SAP reachable if check=sap)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthzResponse"
        "503":
          description: Database unreachable or SAP unreachable (when check=sap)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthzResponse"
        "405":
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  # Hub mirrors the SAP endpoints at /ping and /po/:ebeln
  /ping:
    get:
      operationId: hubPing
      summary: Health check via hub
      description: Proxies to the SAP ping handler. Requires Bearer token with `ping` scope.
      security:
        - bearerAuth: []
      responses:
        "200":
          description: System reachable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PingResponse"
        "401":
          description: Missing or invalid token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Insufficient scope (requires 'ping')
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Rate limit exceeded
          headers:
            retry-after:
              schema:
                type: integer
              description: Seconds until next request is allowed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "502":
          description: SAP upstream error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "504":
          description: SAP request timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "405":
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /po/{ebeln}:
    get:
      operationId: hubGetPo
      summary: Purchase order info via hub
      description: Proxies to the SAP PO handler. Requires Bearer token with `po` scope.
      security:
        - bearerAuth: []
      parameters:
        - name: ebeln
          in: path
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 10
            pattern: "^[A-Za-z0-9]+$"
          description: Purchasing document number
      responses:
        "200":
          description: PO found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PoResponse"
        "401":
          description: Missing or invalid token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Insufficient scope (requires 'po')
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Invalid path parameter (exceeds maxLength)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: PO not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Rate limit exceeded
          headers:
            retry-after:
              schema:
                type: integer
              description: Seconds until next request is allowed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "502":
          description: SAP upstream error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "504":
          description: SAP request timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "405":
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /metrics:
    get:
      operationId: metrics
      summary: Prometheus metrics
      description: Exposes hub metrics in Prometheus text format. Localhost-only access.
      security: []
      responses:
        "200":
          description: Prometheus metrics
          content:
            text/plain:
              schema:
                type: string
        "403":
          description: Forbidden (non-localhost access)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "405":
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  # -----------------------------------------------------------------------
  # Phase 5A — MES business endpoints (read-only)
  # -----------------------------------------------------------------------

  /sap/bc/zzapi/mes/prod_order:
    get:
      operationId: getProdOrder
      summary: Production order detail
      description: Returns production order header, operations, and component reservations.
      parameters:
        - $ref: "#/components/parameters/SapClient"
        - name: aufnr
          in: query
          required: true
          schema:
            type: string
            maxLength: 12
          description: Production order number
      responses:
        "200":
          description: Production order found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProdOrderResponse"
        "400":
          description: Missing required query parameter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Order not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "405":
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /sap/bc/zzapi/mes/material:
    get:
      operationId: getMaterial
      summary: Material master
      description: Returns material general + plant-level data and description.
      parameters:
        - $ref: "#/components/parameters/SapClient"
        - name: matnr
          in: query
          required: true
          schema:
            type: string
            maxLength: 18
          description: Material number
        - name: werks
          in: query
          required: false
          schema:
            type: string
            maxLength: 4
          description: Plant (optional, for plant-specific data)
      responses:
        "200":
          description: Material found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MaterialResponse"
        "400":
          description: Missing required query parameter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Material not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "405":
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /sap/bc/zzapi/mes/stock:
    get:
      operationId: getStock
      summary: Stock / availability
      description: Returns current stock and ATP availability for a material at a plant.
      parameters:
        - $ref: "#/components/parameters/SapClient"
        - name: matnr
          in: query
          required: true
          schema:
            type: string
            maxLength: 18
          description: Material number
        - name: werks
          in: query
          required: true
          schema:
            type: string
            maxLength: 4
          description: Plant
        - name: lgort
          in: query
          required: false
          schema:
            type: string
            maxLength: 4
          description: Storage location (optional)
      responses:
        "200":
          description: Stock found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StockResponse"
        "400":
          description: Missing required query parameter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: No stock data found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "405":
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /sap/bc/zzapi/mes/po_items:
    get:
      operationId: getPoItems
      summary: Purchase order line items
      description: Returns PO line items (EKPO) with delivery schedule (EKET) for a given PO number.
      parameters:
        - $ref: "#/components/parameters/SapClient"
        - name: ebeln
          in: query
          required: true
          schema:
            type: string
            maxLength: 10
          description: Purchasing document number
      responses:
        "200":
          description: PO items found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PoItemsResponse"
        "400":
          description: Missing required query parameter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: PO not found or has no items
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "405":
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /sap/bc/zzapi/mes/routing:
    get:
      operationId: getRouting
      summary: Routing / recipe
      description: Returns operation sequence and standard times for a material at a plant.
      parameters:
        - $ref: "#/components/parameters/SapClient"
        - name: matnr
          in: query
          required: true
          schema:
            type: string
            maxLength: 18
          description: Material number
        - name: werks
          in: query
          required: true
          schema:
            type: string
            maxLength: 4
          description: Plant
      responses:
        "200":
          description: Routing found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoutingResponse"
        "400":
          description: Missing required query parameter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Routing not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "405":
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /sap/bc/zzapi/mes/wc:
    get:
      operationId: getWorkCenter
      summary: Work center
      description: Returns work center details including capacity and cost center.
      parameters:
        - $ref: "#/components/parameters/SapClient"
        - name: arbpl
          in: query
          required: true
          schema:
            type: string
            maxLength: 8
          description: Work center
        - name: werks
          in: query
          required: true
          schema:
            type: string
            maxLength: 4
          description: Plant
      responses:
        "200":
          description: Work center found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkCenterResponse"
        "400":
          description: Missing required query parameter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Work center not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "405":
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  # -----------------------------------------------------------------------
  # Hub mirrors for Phase 5A endpoints
  # -----------------------------------------------------------------------

  /prod-order/{aufnr}:
    get:
      operationId: hubGetProdOrder
      summary: Production order detail via hub
      description: Proxies to SAP production order handler. Requires `prod_order` scope.
      security:
        - bearerAuth: []
      parameters:
        - name: aufnr
          in: path
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 12
            pattern: "^[A-Za-z0-9]+$"
          description: Production order number
      responses:
        "200":
          description: Production order found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProdOrderResponse"
        "401":
          description: Missing or invalid token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Insufficient scope (requires 'prod_order')
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Invalid path parameter (exceeds maxLength)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Order not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Rate limit exceeded
          headers:
            retry-after:
              schema:
                type: integer
              description: Seconds until next request is allowed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "502":
          description: SAP upstream error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "504":
          description: SAP request timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "405":
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /material/{matnr}:
    get:
      operationId: hubGetMaterial
      summary: Material master via hub
      description: Proxies to SAP material handler. Requires `material` scope.
      security:
        - bearerAuth: []
      parameters:
        - name: matnr
          in: path
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 18
            pattern: "^[A-Za-z0-9]+$"
          description: Material number
        - name: werks
          in: query
          required: false
          schema:
            type: string
            maxLength: 4
            pattern: "^[A-Za-z0-9]+$"
          description: Plant (optional)
      responses:
        "200":
          description: Material found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MaterialResponse"
        "401":
          description: Missing or invalid token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Insufficient scope (requires 'material')
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Invalid path parameter (exceeds maxLength)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Material not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Rate limit exceeded
          headers:
            retry-after:
              schema:
                type: integer
              description: Seconds until next request is allowed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "502":
          description: SAP upstream error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "504":
          description: SAP request timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "405":
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /stock/{matnr}:
    get:
      operationId: hubGetStock
      summary: Stock / availability via hub
      description: Proxies to SAP stock handler. Requires `stock` scope.
      security:
        - bearerAuth: []
      parameters:
        - name: matnr
          in: path
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 18
            pattern: "^[A-Za-z0-9]+$"
          description: Material number
        - name: werks
          in: query
          required: true
          schema:
            type: string
            maxLength: 4
            pattern: "^[A-Za-z0-9]+$"
          description: Plant
        - name: lgort
          in: query
          required: false
          schema:
            type: string
            maxLength: 4
            pattern: "^[A-Za-z0-9]+$"
          description: Storage location (optional)
      responses:
        "200":
          description: Stock data found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StockResponse"
        "401":
          description: Missing or invalid token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Insufficient scope (requires 'stock')
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Invalid path parameter (exceeds maxLength)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: No stock data found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Rate limit exceeded
          headers:
            retry-after:
              schema:
                type: integer
              description: Seconds until next request is allowed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "502":
          description: SAP upstream error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "504":
          description: SAP request timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "405":
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /po/{ebeln}/items:
    get:
      operationId: hubGetPoItems
      summary: Purchase order line items via hub
      description: Proxies to SAP PO items handler. Requires `po` scope.
      security:
        - bearerAuth: []
      parameters:
        - name: ebeln
          in: path
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 10
            pattern: "^[A-Za-z0-9]+$"
          description: Purchasing document number
      responses:
        "200":
          description: PO items found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PoItemsResponse"
        "401":
          description: Missing or invalid token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Insufficient scope (requires 'po')
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Invalid path parameter (exceeds maxLength)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: PO not found or has no items
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Rate limit exceeded
          headers:
            retry-after:
              schema:
                type: integer
              description: Seconds until next request is allowed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "502":
          description: SAP upstream error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "504":
          description: SAP request timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "405":
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /routing/{matnr}:
    get:
      operationId: hubGetRouting
      summary: Routing / recipe via hub
      description: Proxies to SAP routing handler. Requires `routing` scope.
      security:
        - bearerAuth: []
      parameters:
        - name: matnr
          in: path
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 18
            pattern: "^[A-Za-z0-9]+$"
          description: Material number
        - name: werks
          in: query
          required: true
          schema:
            type: string
            maxLength: 4
            pattern: "^[A-Za-z0-9]+$"
          description: Plant
      responses:
        "200":
          description: Routing found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoutingResponse"
        "401":
          description: Missing or invalid token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Insufficient scope (requires 'routing')
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Invalid path parameter (exceeds maxLength)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Routing not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Rate limit exceeded
          headers:
            retry-after:
              schema:
                type: integer
              description: Seconds until next request is allowed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "502":
          description: SAP upstream error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "504":
          description: SAP request timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /work-center/{arbpl}:
    get:
      operationId: hubGetWorkCenter
      summary: Work center via hub
      description: Proxies to SAP work center handler. Requires `work_center` scope.
      security:
        - bearerAuth: []
      parameters:
        - name: arbpl
          in: path
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 8
            pattern: "^[A-Za-z0-9]+$"
          description: Work center
        - name: werks
          in: query
          required: true
          schema:
            type: string
            maxLength: 4
            pattern: "^[A-Za-z0-9]+$"
          description: Plant
      responses:
        "200":
          description: Work center found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkCenterResponse"
        "401":
          description: Missing or invalid token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Insufficient scope (requires 'work_center')
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Invalid path parameter (exceeds maxLength)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Work center not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Rate limit exceeded
          headers:
            retry-after:
              schema:
                type: integer
              description: Seconds until next request is allowed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "502":
          description: SAP upstream error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "504":
          description: SAP request timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "405":
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  # -----------------------------------------------------------------------
  # Phase 5B — MES write-back endpoints (SAP-direct)
  # -----------------------------------------------------------------------

  /sap/bc/zzapi/mes/conf:
    post:
      operationId: sapConf
      summary: Production confirmation (SAP-direct)
      description: SAP ICF handler for production order confirmation via BAPI_PRODORDCONF_CREATE_TT. Requires Basic Auth.
      security:
        - basicAuth: []
      parameters:
        - $ref: "#/components/parameters/SapClient"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConfirmationRequest"
      responses:
        "201":
          description: Confirmation recorded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConfirmationResponse"
        "400":
          description: Missing required fields (orderid, operation, yield)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "405":
          description: Method not allowed (only POST)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: SAP business rule rejection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "502":
          description: SAP upstream error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "504":
          description: SAP request timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /sap/bc/zzapi/mes/gr:
    post:
      operationId: sapGr
      summary: Goods receipt (SAP-direct)
      description: SAP ICF handler for goods receipt via BAPI_GOODSMVT_CREATE (mvt 101). Requires Basic Auth.
      security:
        - basicAuth: []
      parameters:
        - $ref: "#/components/parameters/SapClient"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoodsReceiptRequest"
      responses:
        "201":
          description: Goods receipt posted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoodsReceiptResponse"
        "400":
          description: Missing required fields (ebeln, ebelp, menge, werks, lgort)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "405":
          description: Method not allowed (only POST)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: SAP business rule rejection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "502":
          description: SAP upstream error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "504":
          description: SAP request timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /sap/bc/zzapi/mes/gi:
    post:
      operationId: sapGi
      summary: Goods issue (SAP-direct)
      description: SAP ICF handler for goods issue via BAPI_GOODSMVT_CREATE (mvt 261). Includes backflush guard. Requires Basic Auth.
      security:
        - basicAuth: []
      parameters:
        - $ref: "#/components/parameters/SapClient"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoodsIssueRequest"
      responses:
        "201":
          description: Goods issue posted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoodsIssueResponse"
        "400":
          description: Missing required fields (orderid, matnr, menge, werks, lgort)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "405":
          description: Method not allowed (only POST)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Backflush is active for this order — GI handled by confirmation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: SAP business rule rejection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "502":
          description: SAP upstream error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "504":
          description: SAP request timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  # -----------------------------------------------------------------------
  # Phase 5B — MES write-back endpoints (hub mirrors)
  # -----------------------------------------------------------------------

  /confirmation:
    post:
      operationId: createConfirmation
      summary: Production order confirmation
      description: Records a production order time ticket confirmation. Requires `conf` scope and an `Idempotency-Key` header for deduplication.
      security:
        - bearerAuth: []
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
            maxLength: 128
          description: Client-generated idempotency key for deduplication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConfirmationRequest"
      responses:
        "201":
          description: Confirmation recorded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConfirmationResponse"
        "400":
          description: Invalid request body or missing Idempotency-Key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Missing or invalid token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Insufficient scope (requires 'conf')
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "413":
          description: Request body too large (max 1 MB)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Duplicate Idempotency-Key, or SAP conflict
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: Idempotency-Key reused with different body, or SAP business rule rejection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Rate limit exceeded
          headers:
            retry-after:
              schema:
                type: integer
              description: Seconds until next request is allowed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "502":
          description: SAP upstream error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "504":
          description: SAP request timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "405":
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /goods-receipt:
    post:
      operationId: createGoodsReceipt
      summary: Goods receipt for purchase order
      description: Records a goods receipt (GR) against a purchase order. Requires `gr` scope and an `Idempotency-Key` header.
      security:
        - bearerAuth: []
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
            maxLength: 128
          description: Client-generated idempotency key for deduplication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoodsReceiptRequest"
      responses:
        "201":
          description: Goods receipt recorded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoodsReceiptResponse"
        "400":
          description: Invalid request body or missing Idempotency-Key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Missing or invalid token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Insufficient scope (requires 'gr')
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "413":
          description: Request body too large (max 1 MB)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Duplicate Idempotency-Key, or SAP conflict
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: Idempotency-Key reused with different body, or SAP business rule rejection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Rate limit exceeded
          headers:
            retry-after:
              schema:
                type: integer
              description: Seconds until next request is allowed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "502":
          description: SAP upstream error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "504":
          description: SAP request timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "405":
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /goods-issue:
    post:
      operationId: createGoodsIssue
      summary: Goods issue for production order
      description: Records a goods issue (GI) for a production order component. Requires `gi` scope and an `Idempotency-Key` header.
      security:
        - bearerAuth: []
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
            maxLength: 128
          description: Client-generated idempotency key for deduplication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoodsIssueRequest"
      responses:
        "201":
          description: Goods issue recorded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoodsIssueResponse"
        "400":
          description: Invalid request body or missing Idempotency-Key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Missing or invalid token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Insufficient scope (requires 'gi')
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "413":
          description: Request body too large (max 1 MB)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Duplicate Idempotency-Key, or SAP conflict, or SAP backflush conflict
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: Idempotency-Key reused with different body, or SAP business rule rejection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Rate limit exceeded
          headers:
            retry-after:
              schema:
                type: integer
              description: Seconds until next request is allowed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "502":
          description: SAP upstream error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "504":
          description: SAP request timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "405":
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    SapClient:
      name: sap-client
      in: query
      required: true
      schema:
        type: integer
        example: 200
      description: SAP client number

  schemas:
    PingResponse:
      type: object
      required: [ok, sap_time]
      properties:
        ok:
          type: boolean
          example: true
        sap_time:
          type: string
          pattern: "^[0-9]{14}$"
          description: "YYYYMMDDHHMMSS"
          example: "20260422163000"

    PoResponse:
      type: object
      required: [ebeln, aedat, lifnr, eindt]
      properties:
        ebeln:
          type: string
          maxLength: 10
          description: Purchasing document number
          example: "3010000608"
        aedat:
          type: string
          pattern: "^[0-9]{8}$"
          description: "Change date (YYYYMMDD)"
          example: "20170306"
        lifnr:
          type: string
          maxLength: 10
          description: Vendor account number
          example: "0000500340"
        eindt:
          type: string
          pattern: "^[0-9]{8}$"
          description: "Delivery date (YYYYMMDD)"
          example: "20170630"

    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: string
          example: "PO not found"
        original_status:
          type: integer
          description: Original HTTP status from a prior idempotency-checked request (present on 409 duplicate responses only)
          example: 201

    TokenResponse:
      type: object
      required: [token, expires_in]
      properties:
        token:
          type: string
          description: JWT bearer token with claims {key_id, scopes, iat, exp, rate_limit_per_min}
        expires_in:
          type: integer
          description: Token lifetime in seconds (default 900, configurable via HUB_JWT_TTL_SECONDS)
          example: 900

    HealthzResponse:
      type: object
      required: [ok]
      properties:
        ok:
          type: boolean
          example: true
        error:
          type: string
          description: Error message when ok is false (e.g. "database unreachable")
        sap:
          type: string
          description: SAP reachability status when check=sap query param is present (e.g. "reachable")

    # -----------------------------------------------------------------
    # Phase 5A schemas
    # -----------------------------------------------------------------

    ProdOrderResponse:
      type: object
      required: [aufnr, auart, werks, matnr, gamng, gstrp, gltrp]
      properties:
        aufnr:
          type: string
          maxLength: 12
          description: Production order number
          example: "1000000"
        auart:
          type: string
          maxLength: 4
          description: Order type
          example: "PP01"
        werks:
          type: string
          maxLength: 4
          description: Plant
          example: "1000"
        matnr:
          type: string
          maxLength: 18
          description: Material number
          example: "10000001"
        gamng:
          type: number
          description: Total order quantity
          example: 1000
        gmein:
          type: string
          maxLength: 3
          description: Base unit of measure
          example: "EA"
        gstrp:
          type: string
          pattern: "^[0-9]{8}$"
          description: Scheduled start date (YYYYMMDD)
          example: "20260401"
        gltrp:
          type: string
          pattern: "^[0-9]{8}$"
          description: Scheduled finish date (YYYYMMDD)
          example: "20260415"
        operations:
          type: array
          description: Order operations
          items:
            $ref: "#/components/schemas/ProdOrderOperation"
        components:
          type: array
          description: Component reservations
          items:
            $ref: "#/components/schemas/ProdOrderComponent"

    ProdOrderOperation:
      type: object
      required: [vornr, ltxa1]
      properties:
        vornr:
          type: string
          maxLength: 4
          description: Operation number
          example: "0010"
        ltxa1:
          type: string
          description: Operation description
          example: "Turning"
        arbpl:
          type: string
          maxLength: 8
          description: Work center
          example: "TURN1"
        vgwrt:
          type: number
          description: Standard value (hours)
          example: 2.5

    ProdOrderComponent:
      type: object
      required: [matnr, bdmenge]
      properties:
        matnr:
          type: string
          maxLength: 18
          description: Component material number
          example: "20000001"
        bdmenge:
          type: number
          description: Required quantity
          example: 500
        meins:
          type: string
          maxLength: 3
          description: Unit of measure
          example: "EA"
        werks:
          type: string
          maxLength: 4
          description: Plant
          example: "1000"

    MaterialResponse:
      type: object
      required: [matnr, mtart, meins]
      properties:
        matnr:
          type: string
          maxLength: 18
          description: Material number
          example: "10000001"
        mtart:
          type: string
          maxLength: 4
          description: Material type
          example: "FERT"
        meins:
          type: string
          maxLength: 3
          description: Base unit of measure
          example: "EA"
        maktx:
          type: string
          description: Material description
          example: "Finished product A"
        werks:
          type: string
          maxLength: 4
          description: Plant (if plant-specific data requested)
          example: "1000"
        dispo:
          type: string
          maxLength: 3
          description: MRP controller
          example: "001"

    StockResponse:
      type: object
      required: [matnr, werks]
      properties:
        matnr:
          type: string
          maxLength: 18
          description: Material number
          example: "10000001"
        werks:
          type: string
          maxLength: 4
          description: Plant
          example: "1000"
        items:
          type: array
          description: Stock by storage location/batch
          items:
            $ref: "#/components/schemas/StockItem"

    StockItem:
      type: object
      required: [lgort, clabs]
      properties:
        lgort:
          type: string
          maxLength: 4
          description: Storage location
          example: "0001"
        charg:
          type: string
          maxLength: 10
          description: Batch number
          example: "BATCH001"
        clabs:
          type: number
          description: Unrestricted stock
          example: 250
        avail_qty:
          type: number
          description: Available quantity (ATP)
          example: 200

    PoItemsResponse:
      type: object
      required: [ebeln, items]
      properties:
        ebeln:
          type: string
          maxLength: 10
          description: Purchasing document number
          example: "3010000608"
        items:
          type: array
          description: PO line items
          items:
            $ref: "#/components/schemas/PoItem"

    PoItem:
      type: object
      required: [ebelp, matnr, menge, meins]
      properties:
        ebelp:
          type: string
          maxLength: 5
          description: Item number
          example: "00010"
        matnr:
          type: string
          maxLength: 18
          description: Material number
          example: "10000001"
        txz01:
          type: string
          description: Short text
          example: "Raw material X"
        menge:
          type: number
          description: Order quantity
          example: 100
        meins:
          type: string
          maxLength: 3
          description: Unit of measure
          example: "EA"
        netpr:
          type: number
          description: Net price per unit
          example: 12.50
        eindt:
          type: string
          pattern: "^[0-9]{8}$"
          description: Delivery date (YYYYMMDD)
          example: "20170630"

    # -----------------------------------------------------------------
    # Phase 5A remaining schemas (routing + work center)
    # -----------------------------------------------------------------

    RoutingOperationSchema:
      type: object
      required: [vornr, ltxa1]
      properties:
        vornr:
          type: string
          maxLength: 4
          description: Operation number
          example: "0010"
        ltxa1:
          type: string
          description: Operation text
          example: "Turning"
        arbpl:
          type: string
          maxLength: 8
          description: Work center
          example: "TURN1"
        vgwrt:
          type: number
          description: Standard value (hours)
          example: 2.5
        meinh:
          type: string
          maxLength: 3
          description: Unit for standard value
          example: "H"

    RoutingResponse:
      type: object
      required: [matnr, werks, plnnr, operations]
      properties:
        matnr:
          type: string
          maxLength: 18
          description: Material number
          example: "10000001"
        werks:
          type: string
          maxLength: 4
          description: Plant
          example: "1000"
        plnnr:
          type: string
          maxLength: 8
          description: Task list group
          example: "50000123"
        plnal:
          type: string
          maxLength: 2
          description: Group counter
          example: "01"
        operations:
          type: array
          description: Operation sequence
          items:
            $ref: "#/components/schemas/RoutingOperationSchema"

    WorkCenterResponse:
      type: object
      required: [arbpl, werks]
      properties:
        arbpl:
          type: string
          maxLength: 8
          description: Work center
          example: "TURN1"
        werks:
          type: string
          maxLength: 4
          description: Plant
          example: "1000"
        ktext:
          type: string
          description: Work center description
          example: "CNC Turning Center"
        steus:
          type: string
          maxLength: 4
          description: Control key
          example: "PP01"
        kapid:
          type: string
          maxLength: 8
          description: Capacity ID
          example: "10000001"
        kostl:
          type: string
          maxLength: 10
          description: Cost center
          example: "10001000"

    # -----------------------------------------------------------------
    # Phase 5B schemas — write-back
    # -----------------------------------------------------------------

    ConfirmationRequest:
      type: object
      required: [orderid, operation, yield]
      properties:
        orderid:
          type: string
          minLength: 1
          maxLength: 12
          description: Production order number
          example: "1000000"
        operation:
          type: string
          minLength: 1
          maxLength: 4
          description: Operation number
          example: "0010"
        yield:
          type: number
          minimum: 1
          description: Yield quantity
          example: 50
        scrap:
          type: number
          minimum: 0
          description: Scrap quantity
          example: 0
        work_actual:
          type: number
          minimum: 0
          description: Actual work (hours)
          example: 1.5
        postg_date:
          type: string
          pattern: "^[0-9]{8}$"
          description: Posting date (YYYYMMDD)
          example: "20260422"

    ConfirmationResponse:
      type: object
      required: [orderid, operation, yield, scrap, status]
      properties:
        orderid:
          type: string
          description: Production order number
          example: "1000000"
        operation:
          type: string
          description: Operation number
          example: "0010"
        yield:
          type: number
          description: Yield quantity confirmed
          example: 50
        scrap:
          type: number
          description: Scrap quantity confirmed
          example: 0
        confNo:
          type: string
          description: Confirmation number from SAP
          example: "00000100"
        confCnt:
          type: string
          description: Confirmation counter from SAP
          example: "0001"
        status:
          type: string
          description: Confirmation status
          example: "confirmed"
        message:
          type: string
          description: Additional info
          example: "Production confirmation recorded"

    GoodsReceiptRequest:
      type: object
      required: [ebeln, ebelp, menge, werks, lgort]
      properties:
        ebeln:
          type: string
          minLength: 1
          maxLength: 10
          description: Purchasing document number
          example: "4500000001"
        ebelp:
          type: string
          minLength: 1
          maxLength: 5
          description: Item number
          example: "00010"
        menge:
          type: number
          minimum: 1
          description: Quantity to receive
          example: 100
        werks:
          type: string
          minLength: 1
          maxLength: 4
          description: Plant
          example: "1000"
        lgort:
          type: string
          minLength: 1
          maxLength: 4
          description: Storage location
          example: "0001"
        budat:
          type: string
          pattern: "^[0-9]{8}$"
          description: Posting date (YYYYMMDD)
          example: "20260422"
        charg:
          type: string
          maxLength: 10
          description: Batch number
          example: "BATCH001"

    GoodsReceiptResponse:
      type: object
      required: [ebeln, ebelp, menge, status]
      properties:
        ebeln:
          type: string
          description: Purchasing document number
          example: "4500000001"
        ebelp:
          type: string
          description: Item number
          example: "00010"
        menge:
          type: number
          description: Quantity received
          example: 100
        materialDocument:
          type: string
          description: Material document number
          example: "5000000001"
        documentYear:
          type: string
          description: Material document year
          example: "2026"
        status:
          type: string
          description: Receipt status
          example: "posted"
        message:
          type: string
          description: Additional info
          example: "Goods receipt posted"

    GoodsIssueRequest:
      type: object
      required: [orderid, matnr, menge, werks, lgort]
      properties:
        orderid:
          type: string
          minLength: 1
          maxLength: 12
          description: Production order number
          example: "1000000"
        matnr:
          type: string
          minLength: 1
          maxLength: 18
          description: Component material number
          example: "20000001"
        menge:
          type: number
          minimum: 1
          description: Quantity to issue
          example: 50
        werks:
          type: string
          minLength: 1
          maxLength: 4
          description: Plant
          example: "1000"
        lgort:
          type: string
          minLength: 1
          maxLength: 4
          description: Storage location
          example: "0001"
        budat:
          type: string
          pattern: "^[0-9]{8}$"
          description: Posting date (YYYYMMDD)
          example: "20260422"
        charg:
          type: string
          maxLength: 10
          description: Batch number
          example: "BATCH001"

    GoodsIssueResponse:
      type: object
      required: [orderid, matnr, menge, status]
      properties:
        orderid:
          type: string
          description: Production order number
          example: "1000000"
        matnr:
          type: string
          description: Component material number
          example: "20000001"
        menge:
          type: number
          description: Quantity issued
          example: 50
        materialDocument:
          type: string
          description: Material document number
          example: "5000000002"
        documentYear:
          type: string
          description: Material document year
          example: "2026"
        status:
          type: string
          description: Issue status
          example: "posted"
        message:
          type: string
          description: Additional info
          example: "Goods issue posted"
