openapi: 3.0.3
info:
  title: ZZAPI MES
  description: SAP ICF REST handlers for MES integration on SAP_BASIS 700
  version: 0.1.0
  license:
    name: UNLICENSED

servers:
  - url: http://sapdev.fastcell.hk:8000
    description: sapdev (Phase 1, direct SAP access)
  - url: http://localhost:8080
    description: zzapi-mes hub (Phase 3)

security:
  - basicAuth: []

paths:
  /sap/bc/zzapi_mes_ping:
    get:
      operationId: ping
      summary: Health check
      description: Lightweight probe — no database access, safe for monitoring.
      parameters:
        - $ref: "#/components/parameters/SapClient"
      responses:
        "200":
          description: System reachable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PingResponse"
        "405":
          description: HTTP method not allowed (only GET)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /sap/bc/zzapi_mes:
    get:
      operationId: getPo
      summary: Purchase order info
      description: Returns PO header + delivery date for a given ebeln. JSON matches legacy BSP output byte-for-byte.
      parameters:
        - $ref: "#/components/parameters/SapClient"
        - name: ebeln
          in: query
          required: true
          schema:
            type: string
            maxLength: 10
          description: Purchasing document number
      responses:
        "200":
          description: PO found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PoResponse"
        "404":
          description: PO not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "405":
          description: HTTP method not allowed (only GET)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  # -----------------------------------------------------------------------
  # Hub-specific endpoints (Phase 3)
  # These only exist on the hub server, not on SAP directly.
  # -----------------------------------------------------------------------

  /auth/token:
    post:
      operationId: createToken
      summary: Obtain a JWT bearer token
      description: Exchange an API key (format `<key_id>.<secret>`) for a short-lived JWT. The JWT carries `key_id`, `scopes`, `iat`, `exp`, and `rate_limit_per_min` claims.
      security: []  # No auth required for token issuance
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [api_key]
              properties:
                api_key:
                  type: string
                  description: "API key in format: <key_id>.<secret>"
      responses:
        "200":
          description: Token issued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenResponse"
        "400":
          description: Invalid request body
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Invalid, unknown, or revoked API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /healthz:
    get:
      operationId: healthz
      summary: Hub health check
      description: Lightweight probe — no SAP call, no auth required.
      security: []
      responses:
        "200":
          description: Hub is running
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthzResponse"

  # Hub mirrors the SAP endpoints at /ping and /po/:ebeln
  /ping:
    get:
      operationId: hubPing
      summary: Health check via hub
      description: Proxies to the SAP ping handler. Requires Bearer token with `ping` scope.
      security:
        - bearerAuth: []
      responses:
        "200":
          description: System reachable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PingResponse"
        "401":
          description: Missing or invalid token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Insufficient scope (requires 'ping')
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Rate limit exceeded
          headers:
            retry-after:
              schema:
                type: integer
              description: Seconds until next request is allowed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /po/{ebeln}:
    get:
      operationId: hubGetPo
      summary: Purchase order info via hub
      description: Proxies to the SAP PO handler. Requires Bearer token with `po` scope.
      security:
        - bearerAuth: []
      parameters:
        - name: ebeln
          in: path
          required: true
          schema:
            type: string
            maxLength: 10
          description: Purchasing document number
      responses:
        "200":
          description: PO found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PoResponse"
        "401":
          description: Missing or invalid token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Insufficient scope (requires 'po')
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: PO not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Rate limit exceeded
          headers:
            retry-after:
              schema:
                type: integer
              description: Seconds until next request is allowed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /metrics:
    get:
      operationId: metrics
      summary: Prometheus metrics
      description: Exposes hub metrics in Prometheus text format. Localhost-only access.
      security: []
      responses:
        "200":
          description: Prometheus metrics
          content:
            text/plain:
              schema:
                type: string
        "403":
          description: Forbidden (non-localhost access)

components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    SapClient:
      name: sap-client
      in: query
      required: true
      schema:
        type: integer
        example: 200
      description: SAP client number

  schemas:
    PingResponse:
      type: object
      required: [ok, sap_time]
      properties:
        ok:
          type: boolean
          example: true
        sap_time:
          type: string
          pattern: "^[0-9]{14}$"
          description: "YYYYMMDDHHMMSS"
          example: "20260422163000"

    PoResponse:
      type: object
      required: [ebeln, aedat, lifnr, eindt]
      properties:
        ebeln:
          type: string
          maxLength: 10
          description: Purchasing document number
          example: "3010000608"
        aedat:
          type: string
          pattern: "^[0-9]{8}$"
          description: "Change date (YYYYMMDD)"
          example: "20170306"
        lifnr:
          type: string
          maxLength: 10
          description: Vendor account number
          example: "0000500340"
        eindt:
          type: string
          pattern: "^[0-9]{8}$"
          description: "Delivery date (YYYYMMDD)"
          example: "20170630"

    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: string
          example: "PO not found"

    TokenResponse:
      type: object
      required: [token, expires_in]
      properties:
        token:
          type: string
          description: JWT bearer token with claims {key_id, scopes, iat, exp, rate_limit_per_min}
        expires_in:
          type: integer
          description: Token lifetime in seconds (default 900, configurable via HUB_JWT_TTL_SECONDS)
          example: 900

    HealthzResponse:
      type: object
      required: [ok]
      properties:
        ok:
          type: boolean
          example: true
